<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <% include ../static/partials/navbar.ejs %>

    <main class="container">

      <% include ../static/partials/messages.ejs %>

      <h1>New Article</h1>

      <form action="/wikis/create" method="post">
        <div class="form-group">
          <label for="title">Title</label>
          <input type="text" class="form-control" name="title" aria-describedby="titleHelp" placeholder="Enter Title">
          <small class="text-muted" id="titleHelp">Title must be 2 or more characters in length.</small>
        </div>
        <div class="form-group">
          <label for="body">Body</label>
          <textarea rows="4" class="form-control" name="body" placeholder="Enter body"></textarea>
          <small class="text-muted" id="bodyHelp">Body must be 10 or more characters in length. </small>
          <br>
          <small class="text-muted" id="bodyHelp">**bold** `code` >quote *bullet list </small>
        </div>
        <% if(currentUser.isPremium() || currentUser.isAdmin()) { %>
        <div class="form-group">
          <label for="private">Status</label>
          <select class="form-control" name="private">
            <option value="false">Public</option>
            <option value="true">Private</option>
          </select>
          <small class="text-muted" id="wikiStatus">Select Private if you want to make your wiki private</small>
        </div>
        <% } %>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>

    </main>

    <% include ../static/partials/baseScripts.ejs %>

  </body>
</html>
