<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/head.ejs %>
  </head>

  <body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">

  	<!--banner-->
	<section id="banner" class="banner">
     <% include ./partials/messages.ejs %>
		<div class="bg-color">
      <!-- Navigation -->
        <% include ./partials/navbar.ejs %>
        <!--Main-->
         <div class="container">
   				<div class="row">
   					<div class="banner-info">
   						<div class="banner-text text-center">
   							<h1 class="white">Share your knowledge with the world!</h1>
   							<p>Build informative articles with people you trust</p>
   							<a href="#service" class="btn btn-appoint">See Our Plans</a>
   						</div>
   						<!-- <div class="overlay-detail text-center">
   			         <a href="#service"><i class="fa fa-angle-down"></i></a>
   			      </div> -->
   					</div>
   				</div>
   			</div>
      </div>
</section>

<section id="service" class="section-padding">
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-sm-4">
					<h2 class="ser-title">Our Plans</h2>
					<hr class="botm-line">
					<p>Select the plan that meets your needs</p>
				</div>
				<div class="col-md-4 col-sm-4">
					<div class="service-info">
						<div class="icon">
							<i class="fa fa-user"></i>
						</div>
						<div class="icon-info">
							<h4>Free Plan</h4>
							<p>Create as many public articles as you want</p>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-4">
					<div class="service-info">
						<div class="icon">
							<i class="fa fa-users"></i>
						</div>
						<div class="icon-info">
							<h4>Premium Plan</h4>
							<p>Collaborate with other users on private articles</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

      <!-- /.container -->

      <% include ./partials/baseScripts.ejs %>
    </body>
</html>
