<!DOCTYPE html>
<html>

    <head>
        <% include ../static/partials/head.ejs %>
    </head>

    <body>

        <% include ../static/partials/navbar.ejs %>

        <main class="container">

            <% include ../static/partials/messages.ejs %>

            <h1><%= `${currentUser.username}'s profile` %></h1>

            <h3>Your account status is:
                <%= currentUser.role %>
            </h3>

            <% if(currentUser && !currentUser.isPremium()) { %>
            <p>If you want to create private Wikis, please upgrade your account to premium today!</p>
            <a href="/users/<%= currentUser.id %>/upgrade" class="btn btn-success">Upgrade to Premium</a>
            <% } %>

            <% if(currentUser && currentUser.isPremium()) { %>
            <a href="/users/<%= currentUser.id %>/downgrade" class="btn btn-warning">Downgrade to Standard</a>
            <p>Private Wikis will become public if you downgrade your account to standard. </p>
            <% } %>

            <br>
            <h4>Your Wiki Collaborations</h4>
            <a href="/users/collaborations" class="btn btn-primary">See Collaborations</a>
            <br>
            <br>
        </main>

        <% include ../static/partials/baseScripts.ejs %>

    </body>

</html>
